<% layout('layouts/boilerplate') -%>

        <form method="post" action="/register" style="display:flex; flex-direction:column;">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" value="<%=username%>">
            <label for="email">Email</label>
            <input type="email" name="email"   placeholder="email" value="<%=email%>">
            <label for="image">Image</label>
            <input type="text" name="image"    placeholder="image">
            <label for="password">Password</label>
           <input type="password" name="password"  placeholder="pass">
           <button>Submit</button>
           
        </form>
    </div>








