<% layout('layouts/boilerplate') -%>
<h1>Reset Paasowrd</h1>
<% layout('layouts/boilerplate') -%>

<form method="POST" action="/reset/<%=token%>?_method=PUT">
    <div><label for="password">Password</label></div>
    <div><input type="password" name="password" id="password" autofocus placeholder="New Password"></div>
    <div><label for="confirmPassword">Confirm Password</label></div>
    <div><input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"></div>
    
    <div><button value="update password">Update</button></div>

</form>