<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/flash.css" />
<link rel="stylesheet" href="/stylesheets/login.css" />


        <!-- <form method="post" action="/login" >
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username">
            <label for="password">Password</label>
           <input type="password" name="password"  placeholder="pass">
           <button>Submit</button>
        </form>
        <div>
            <a href="/forgot-password">Forgot Password?</a>
        </div>
    </div> -->


    <main class="main">
        <div class="containerr">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Sign In</h1>
                    <p class="text text-normal">New user? <span><a href="/register" class="text text-links">Create an account</a></span>
                    </p>
                </div>
                <form name="login" class="form" method="post" action="/login" >
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Username</label>
                        <input type="text" name="username" class="input-field" placeholder="Username">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="input-control">
                        <a href="/forgot-password" class="text text-links">Forgot Password</a>
                        <button  name="submit" class="input-submit" value="Login" >Submit</button>
                    </div>
                    
                </form>
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-google"></i>
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-facebook"></i>
                            <span></i>Sign in with Facebook</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-apple"></i>
                            <span></i>Sign in with Apple</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>







