<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/register.css" />

        <!-- <form method="post" action="/register" enctype="multipart/form-data">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" value="<%=username%>">
            <label for="email">Email</label>
            <input type="email" name="email"   placeholder="email" value="<%=email%>">
            <label for="image">Image</label>
            <input type="file" name="image"    placeholder="image">
            <label for="password">Password</label>
           <input type="password" name="password"  placeholder="pass">
           <button>Submit</button>
        </form>
    </div> -->



    <div class="modernForm">
        <div class="imageSection">
          <div class="image">
            <div class="overlay"></div>
            <img src="https://img.redbull.com/images/w_600/q_auto,f_auto/redbullcom/tv/FO-1WQZVK5CS5N11/FO-1WQZVK5CS5N11-featureMedia" alt="pexels-yuri-manei-2272854">
          </div>
          <div class="textInside">
            <h1 style="color:#fff">Post Your SurfShops</h1>
            <p class="tagLine">try Unlimited</p>
          </div>
          <div class="service">
            <p><span class="price">$9.99</span> / Per Shop</p>
          </div>
        </div>
        <div class="contactForm">
          <h1>Registaration Form</h1>
          <form method="post" action="/register" enctype="multipart/form-data">
            <div class="name">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" placeholder="ex: Lindsey" required/>
              <div class="iconName"><i class="fa-solid fa-user"></i></div>
            </div>
            <div class="name">
              <label for="email">Your Email:</label>
              <input type="email" name="email" id="email" placeholder="ex: Bona9ja@gmail.com" required />
              <div class="iconName"><i class="fa-solid fa-envelope"></i></i></div>
            </div>
            <div class="name">
              <label for="Password">Password:</label>
              <input type="password" name="password" id="password" placeholder="ex: 1234ABBCD" required />
              <div class="iconName"><i class="fa-solid fa-lock"></i></div>
            </div>
            <div class="name">
                <div><h3>Upload image</h3> </div> 
            <input type="file" name="image" id="files"   placeholder="image">
              <!-- <label for="Password">Confirm Password:</label>
              <input type="password" name="password" id="password" required />
              <div class="iconName"><i class="fa-solid fa-lock"></i></div>
           -->
            </div> 
            <div class="checkbox">
              <input type="checkbox" id="checkbox" name="checkbox" required>
              <label for="checkbox">By signing up, you agree to the
               <p><a href="#"> Term of Service</p></label>
            </div>
            <input type="submit" value="Register">
          </form>
        </div>
      </div>





