<% layout('layouts/boilerplate') -%>
    <div>
        <h1>New post </h1>
        <form method="POST" action="/post" enctype="multipart/form-data">
           <div><input type="text" name="post[title]"   placeholder="title"></div>
           <div><input type="number" step=".01"  name="post[price]" placeholder="price"></div>
            <div><input type="text" name="post[location]"    placeholder="location"></div>
            <div><input type="file" accept="images/*" name="images" multiple /></div>
            <div><textarea name="post[description]" placeholder="Description"></textarea></div>
           <div><button>Submit</button></div>
        </form>
    </div>








