<% if(success && success.length>2){ %>
 <div class="notify">
    <div class="success">
        <%= success %> 

    </div>
    </div>

<% } %>

<% if(error && error.length>2){ %>
    <div class="notify">   <div class="error">
        <%= error %> 
    </div></div>
   
   <% } %>

   
  