<!DOCTYPE html>
<html>

<head>
    <title> SurfShop | <%=post.title%>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-heart.css"/>
    <link type="text/css" href='/stylesheets/post-show.css' rel='stylesheet' />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/flash.css" />
</head>
<body>
    <% include ../partials/navbar.ejs %>
    <% include ../partials/flash-messages.ejs %>

    <%- body -%>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        
        <script>  
        const post = <%- JSON.stringify(post) %>;
        </script>
       <script src="/javascripts/flash.js"></script>

        <script src="/javascripts/post-show.js"></script>
        <script src="https://kit.fontawesome.com/6c8eca5fec.js" crossorigin="anonymous"></script>
</body>

</html>